---
import Layout from '../layouts/Layout.astro';

import Card01 from '../components/Card01.astro';
import Card03 from '../components/Card03.astro';
import RedSection from '../components/RedSection.astro';
import AboutUs from '../components/AboutUs.astro';

---
<Layout title="Red Innovation"> 
	<main>
		<RedSection title="RED INNOVATION">
		</RedSection>
		
		<!-- en proceso  -->
		<AboutUs title="About Us"> 
		</AboutUs>

		<!-- ejemplos  -->
		<Card01 title="Red Innovation">
			Integer finibus imperdiet iaculis. Donec volutpat sem nec elit ultrices, et mollis mauris commodo. Nunc semper arcu non diam condimentum congue. Phasellus sit amet commodo quam. Fusce viverra ligula eget laoreet eleifend.
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ullam expedita vel non quos! Accusamus, corrupti voluptatum aut voluptates voluptate ipsum eius dignissimos eum inventore soluta dolorem atque doloribus autem?

			Integer finibus imperdiet iaculis. Donec volutpat sem nec elit ultrices, et mollis mauris commodo. Nunc semper arcu non diam condimentum congue. Phasellus sit amet commodo quam. Fusce viverra ligula eget laoreet eleifend.
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ullam expedita vel non quos! Accusamus, corrupti voluptatum aut voluptates voluptate ipsum eius dignissimos eum inventore soluta dolorem atque doloribus autem?
	
		</Card01>

		<Card03 title="técnica roja."/>

		<Card01 title="redte.ch">
			Etiam nec sapien hendrerit, gravida mauris rhoncus, euismod diam. Ut nunc massa, fermentum sit amet lacinia a, rutrum quis enim. In maximus urna non massa porttitor, ac efficitur nisl tristique. Ut a nibh risus.
	
		</Card01>
	
	</main>
</Layout>

<style>
	
</style>
