---
interface Props {
  //typescript
  title: string;
}

const { title } = Astro.props;
---

<section class="container-redsection">
  <div class="a-side">
    <div class="as-rect"></div>

    <div class="as-container-titulo">
      <h1 class="as-titulo">Public tech for a better future.</h1>
    </div>

    <div class="as-container-subtitulo">
      <h4 class="as-subtitulo">
        Building the present of European digital public infrastructure.
      </h4>
    </div>
  </div>
  <div class="b-side">
    <div class="bs-rect-a"></div>
    <img class="bs-logo-image" src="/images/logo.png" />
    <div class="bs-rect-b"></div>
  </div>
</section>

<style>
  .container-redsection {
    min-height: 540px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2rem auto;
    background-color: var(--color-white);
    max-width: var(--w-max);
    overflow: hidden;
    margin-bottom: 4rem;
  }

  .a-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
  }

  .as-rect {
    min-height: 4rem;
    border-color: var(--color-violet);
    border-left-width: 2rem;
  }

  .as-container-titulo {
    min-height: 100px;
    padding: 2rem;
    align-self: center;
  }

  .as-titulo {
    padding-bottom: 2rem;
    border-color: var(--color-red);
    border-bottom-width: 2rem;
  }

  .as-container-subtitulo {
    width: 100%;
    min-height: 160px;
    text-align: right;
    border-color: var(--color-lired);
    border-left-width: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  .as-subtitulo {
    padding: 0 2rem;
    top: 0px;
    max-width: 500px;
    font-weight: 500;
    color: var(--color-darkgray);
  }

  .b-side {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bs-rect-a {
    background-color: var(--color-lired);
    min-height: 2rem;
    width: 100%;
  }

  .bs-logo-image {
    max-width: 300px;
  }

  .bs-rect-b {
    background-color: var(--color-liviolet);
    min-height: 2rem;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .container-redsection {
      min-height: 480px;
    }

    .a-side {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  @media screen and (max-width: 600px) {
    .container-redsection {
      min-height: fit-content;
      grid-template-columns: 1fr;
    }

    .as-rect {
      min-height: 1.8rem;
      border-left-width: 1.8rem;
    }

    .as-container-titulo {
      padding: 1rem;
      align-self: center;
    }

    .as-titulo {
      border-bottom-width: 1.8rem;
    }

    .as-container-subtitulo {
      padding: 1rem;
      text-align: center;
      min-height: fit-content;
      width: 100%;
      border-left-width: 0rem;
      display: flex;
      justify-content: center;
    }

    .as-subtitulo {
      padding: 0.2rem 1.6rem;
    }

    .b-side {
      width: 100vw;
      flex-direction: row;
      justify-content: space-between;
    }

    .bs-rect-a {
      min-height: 100%;
      width: 1.8rem;
    }

    .bs-rect-b {
      min-height: 100%;
      width: 1.8rem;
    }

    .bs-logo-image {
      max-width: 240px;
    }
  }

  @media screen and (max-width: 425px) {
    .a-side {
    }

    .as-rect {
      min-height: 1rem;
      border-left-width: 1rem;
    }

    .as-container-titulo {
      padding: 1rem;
    }

    .as-titulo {
      padding-bottom: 1rem;
      border-bottom-width: 1rem;
    }

    .as-container-subtitulo {
    }

    .as-subtitulo {
      padding: 0.5rem 1rem 1rem 1rem;
    }

    .b-side {
      max-height: 180px;
    }

    .bs-logo-image {
      max-width: 180px;
    }

    .bs-rect-a {
      width: 1rem;
    }

    .bs-rect-b {
      width: 1rem;
    }
  }
</style>
