---
---

<div class="contenedor-contenedor-media-x">
    <slot />
</div>

<style>

    @media screen and (max-width: 640px) { 
        .contenedor-media-x {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    @media screen and (max-width: 768px) { 
        .contenedor-media-x {
            width: 96%;
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 1084px) { 
        .contenedor-media-x {
            width: 92%;
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 1280px) { 
        .contenedor-media-x {
            width: 90%;
            margin: 0 auto;
        }
    }

    .contenedor-media-x {
        width: 1280px;
        margin: 0 auto;
    }

   

</style>