---
interface Props {
  //typescript
  title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />

    <style is:global>
      @font-face {
        font-family: "Raleway";
        src: url("fonts/Raleway-VariableFont_wght.ttf");
      }
      @font-face {
        font-family: "Raleway-Italic";
        src: url("fonts/Raleway-Italic-VariableFont_wght.ttf");
      }

      /* ------------------- ------------------- Colores y Variables ------------------- ------------------- */
      :root {
        --color-red: rgb(228, 31, 67);
        --color-lired: rgb(255, 103, 105);
        --color-black: rgb(25, 25, 25);
        --color-white: rgb(245, 245, 245);
        --color-darkgray: rgb(68, 68, 68);
        --color-darkgray-opac: rgba(50, 50, 50, 0.9);
        --color-gray: rgb(82, 82, 82);
        --color-ligray: rgb(216, 216, 216);
        --color-violet: rgb(183, 56, 195);
        --color-liviolet: rgb(210, 107, 220);

        --w-max: 1280px;
      }

      /* ------------------- ------------------- Fuentes ------------------- ------------------- */

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        margin-bottom: 0.6rem;
        font-weight: 600;
        line-height: 1.2;
        color: var(--color-black, inherit);
      }

      h1,
      .h1 {
        font-weight: 700;
        font-size: calc(1.375rem + 1.5vw);
      }

      @media (min-width: 1200px) {
        h1,
        .h1 {
          font-size: 2.5rem;
        }
      }

      h2,
      .h2 {
        font-size: calc(1.325rem + 0.9vw);
      }

      @media (min-width: 1200px) {
        h2,
        .h2 {
          font-size: 2rem;
        }
      }

      h3,
      .h3 {
        font-size: calc(1.3rem + 0.6vw);
      }

      @media (min-width: 1200px) {
        h3,
        .h3 {
          font-size: 1.75rem;
        }
      }

      h4,
      .h4 {
        font-size: calc(1.275rem + 0.3vw);
      }

      @media (min-width: 1200px) {
        h4,
        .h4 {
          font-size: 1.5rem;
        }
      }

      h5,
      .h5 {
        font-size: 1.25rem;
      }

      h6,
      .h6 {
        font-size: 1rem;
      }

      .display1 {
        font-weight: 700;
        font-size: 64px;
      }

      .display2 {
        font-weight: 700;
        font-size: 54px;
      }

      .display3 {
        font-weight: 700;
        font-size: 44px;
      }

      /* ------------------- ------------------- Estilos Generales ------------------- ------------------- */

      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      html {
        font-family: "Raleway", sans-serif;
        color: var(--color-black, inherit);
        background: var(--color-ligray);
        font-weight: 500;
      }
      body {
        margin: 0;
        padding: 0;
      }
      p {
        line-height: 1.6rem;
        margin-top: 0;
      }
      img {
        vertical-align: top;
        width: 100%;
      }
    </style>
  </body>
</html>
